* {
  box-sizing: border-box;
  background-color: #F5EFD7;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  color: #3B7339;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  padding: 10px 36px;
  justify-content: center;
  background-color: #3B7339;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

h1 {
  margin: auto;
  text-align: center;
  padding: 5rem;
}